:root {
    --background-font: 'DM Mono', monospace;
    --main-font: 'Inter', sans-serif;
    --white-color: whitesmoke;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 40px 50px;
    border: 1px solid black;
    height: 800px;
    width: 1200px;
    display: flex;
    justify-content: center;
}

/* --------------------------- Left Side --------------------------- */

.background-container {
    flex: 1;

    background-image: url(images/background.jpg);
    background-size: cover;

    color: var(--white-color);
    font-size: 32px;
    font-family: var(--background-font);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.title-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
}

#logo {
    height: 3rem;
}

.watermark {
    font-size: 0.3em;
}

/* --------------------------- Right Side --------------------------- */

.content-container {
    font-family: var(--main-font);
    background-color: var(--white-color);
    flex: 2;
}

h1 {
    margin-left: 30px;
    font-size: 1.2rem;
}

form > .form-container {
    background-color: white;
    padding-top: 15px;
    padding-left: 30px;
}

.form-container > legend {
    font-size: 1.2rem;
    font-weight: 500;
}

.form-container > .input-container {
    font-size: 0.9rem;
    display: flex;
    gap: 50px;
}

.input-container > fieldset {
    display: flex;
    flex-direction: column;
}

legend,
fieldset,
input,
button {
    margin: 0;
    padding: 0;
}

legend {
    margin-bottom: 15px;
}

fieldset {
    border: none;
}

label {
    font-weight: 500;
}

input {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 8px;
    margin-bottom: 15px;
}

button {
    margin: 20px 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    color: var(--white-color);
    background-color: rgba(0, 86, 37, 0.8);
    font-weight: 600;
}

.log-in {
    margin: 0;
    margin-left: 30px;
    font-size: 0.8rem;
    font-weight: 500;
}

.log-in a {
    text-decoration: none;
    color: rgba(0, 86, 37, 0.8);
    font-weight: 700;
}